*{
    padding: 0;
    margin: 0;
}
body{
    width:100vw;
    height: 100vh;
    background-color: yellow;

}
header{
    width:100%;
}
header h1{
    text-align: center;
    background-color:purple ;
    color: white;
    padding: 10px;
}
.nav ul {
    display: flex;
    justify-content: space-around;

}
.nav ul li{
    list-style: none;
    
}
.nav ul li a{
    color: rgb(2, 29, 29);
    font-size: 20px;
    text-decoration: none;

}
@media only screen and (min-width:700px){
    .nav ul {
        display:flex ;
        justify-content: right;
        gap: 100px;
        margin-right: 20px;
        
       
    }
}
main{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
h3{
   position: relative;
   top: 60px;
   width: 300px;
   right: -60px;
   font-size: 40px;
   background: linear-gradient(100deg,red,rgb(0, 255, 128),blue);
   -webkit-background-clip: text;
   color: transparent;

}
